#fDiv{
    margin: auto;
    border: 2px solid #9a484c;
    width: 500px;
    height: 550px;
    text-align: center;
    overflow-y: auto;
    position: relative;
}
table {
    margin: 15px auto;
    border-collapse: collapse;
    border-spacing: 0;

}
td {
    border: 1px solid #9a484c;
    padding: 5px;
    text-align: center;
}
span{
    position: relative;
    left: -180px;
    top: -15px
}
span>input{
    margin: 0px;
}
h1{
    position: relative;
    top: 20px;
}
h3{
    position: relative;
}
#insideDiv{
    text-align:right;
    margin-right: 40px;
    margin-bottom: 20px;
}
#sunTotal{
    font-style: 24px;
    font-weight: bold;
}
input {
    margin: 16px 20px;
    padding: 5px;
    font-size: 16px;
}