form {
    margin: auto;
    width: 1000px;
    border-radius: 40px 40px;
}
input {
    margin: 16px 20px;
    padding: 5px;
    font-size: 16px;
}
.inP {
    width: 285px;
}
#ShipAddress,
#CustomerAddress {
    width: 710px;
}

fieldset {
    border: 2px #9a484c solid;
    margin: 20px;
    border-radius: 40px 40px;
    background-color: rgb(212, 200, 190, 0.5);
    text-align: left;
    padding-left: 50px;
}

legend {
    padding-left: 15px;
}
span{
    position: relative;
    left: -370px;
}
span>input{
    margin: 0px;
}
h1{
    position: relative;
    top: 20px;
}